node_modules
venv
data
data/**
mariadb
env
logs
locks
.test_log
config/*
docker-sites/*
!docker-sites/.keep
!docker-sites/common_site_config.json
!docker-sites/apps.txt
!docker-sites/apps.json
erpnext/sites/*
docker-data
docker-redis
